@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-path-draw {
    animation: path-draw 20s ease-in-out infinite;
  }
}

@keyframes path-draw {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 120;
  }
}
